.noshop-image{
    width: 250px;
    height: 250px;
}
.noshop-layout{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.cart-bottom{
    position:absolute;
    bottom: 0px;
    height:100px;
    width:750px;
    background-color:#fff; 
}
.scroller{
    position:relative;
}
.checkboxsize{
    height: 50px;
    width: 50px;
}
.cart-bottom-layout{
    align-items: center;
    justify-content: center;
}
.cart-bottom-layout-two{
    align-items: center;
}
.hidden-text{
    overflow:hidden;
    width: 120px;
    height: 40px;
}
.cartGood-layout{
    width: 750px;
    height: 140px;
    background-color:#fff;
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:#d9d9d9;
}
.cartGood-image{
    width: 120px;
    height: 120px;
    background-color:#f4f4f4;
}
.pub-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.pub-layout-two{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.cartGood-center{
    align-items: center;
    justify-content: center;
}
.cartGood-center-font{
    color:#333;
    margin-bottom: 5px;
}