.slogan {
    width: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.i-slg {
    font-size: 26px;
    text-align: center;
    color: #b4282d;
}
.head-box{
height: 66px;
padding-top: 16px;
display: flex;
flex:1;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
}
.head-image{
  width:10px;
  height:10px
}
.noshop-image{
    width: 250px;
    height: 250px;
}
.noshop-layout{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.cart-bottom{
    position:absolute;
    bottom: 0px;
    height:100px;
    width:750px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
.scroller{
    position:relative;
}
.checkboxsize{
    height: 50px;
    width: 50px;
}
.cart-bottom-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.cart-bottom-layout-two{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.hidden-text{
    overflow:hidden;
    width: 120px;
    height: 40px;
}